.login-main{
    background-image: url('https://www.puppyspot.com/assets/img/authentication/background-large.svg');
   height: calc(100vh - 52px);
   width: 100%;
   background-size: cover;
   background-position:bottom ;
    /* background-attachment: fixed; */
    z-index: -1;
}
/* .login-main::after{
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgb(17, 16, 16);
  opacity: 0.5;
  z-index: 1;
} */
.hero-content{
    z-index: 10;
}