.login-main{
    background-image: url('https://www.puppyspot.com/assets/img/authentication/background-large.svg');
   height: auto;
   width: 100%;
   background-size: cover;
   background-position:bottom ;
    z-index: -1;
    padding-top:170px ;
    padding-bottom:70px ;
}
.hero-content{
    z-index: 10;
}

.login-container {
   background: linear-gradient(
    0deg,
    rgb(253, 228, 205) 0%,
    rgb(195, 181, 247) 100%
  );
  border-radius: 4px;
  padding: 25px 35px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
}

.login-container input{
background-color: white;
}
.flex-login--content{
  display: flex;
  justify-content: center;
  align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}