.login-main{
    background-image: url('https://www.puppyspot.com/assets/img/authentication/background-large.svg');
   height: 100vh;
   width: 100%;
   background-size: cover;
   background-position:bottom ;
    /* background-attachment: fixed; */
    z-index: -1;
    padding-top:70px ;
}
.hero-content{
    z-index: 10;
}