
.flex-signup--content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.membership-div{
    background-color: rgb(150, 150, 150);
    padding-bottom: 20px;
    padding-left:5px ;
    padding-right:5px ;
}

.membership-div h1{
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.moneycard-flex{
    display: flex;
    justify-content: space-evenly;
}