.about-header{
      max-width: 1360px;
      margin: auto;
      background-image: url(../../images/about.jpg);
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em 2em 12em;
  text-align: center;
  width: 100%;
  height: 400px;
  position: relative;
}

.about-header-content{
  backdrop-filter: blur(5px);
  background-color: rgba(34, 32, 32, 0.2);
  position: absolute;
width: 90%;
height: 80%;
}
.about-header-content h2{
    font-size: 68px;
    line-height: 77px;
    color: white;
}

.hero-header h1{
font-size: 36px;
   text-align: center;
   margin-top: 30px;
   margin-bottom: 10px;
    
}
.hero-header p{
font-size: 18px;
text-align: center;
margin-bottom: 40px;
line-height: 28px;
}

.about-placed-container{
        background-color: #eaf9ff;
    /* margin: 0 auto; */
    max-width: 1360px;
    padding: 2em 3em;
        margin: 0 auto 0.5em;
}
.about-placed{
    display: flex;
    justify-content: center;
   
    
}
.placed-1{
    flex-basis: 50%;
   
}
.placed-2{
     flex-basis:50%;
     background-color: white;
        font-size: 46px;
    grid-column: 1;
    grid-row: 1;
    line-height: 63px;
    padding: 2em 1.5em 1.5em;
    text-align: left;
}

/* ------coverage part------ */
.coverage-main h1{
font-size: 40px;
text-align: center;
margin-top: 40px;
margin-bottom: 30px;
}
.coverage-item p{
font-size: 14px;
}
.coverage-item h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 43px;
    margin: 0;
}
.coverage-item p{
    font-size: 14px;
color: #a6a6a6;
    text-transform: uppercase;
}















@media only screen and (max-width: 900px) {
  .about-header-content h2{
    font-size: 36px;
    line-height: 63px;
    color: white;
    padding: 15px;
}
.about-placed{
    display: block;
}
.placed-2{
     background-color: white;
            font-size: 36px;
    line-height: 49px;
    padding: 0.5em;
    text-align: center;

}
}
