.banner {
  /* background: url(../../../images/banner.jpg) 0 100% no-repeat; */
  background-image: url('../../../images/banner/homebanner.jpg');
  /* background-image: url(https://cdn.buttercms.com/b2SZqAERcids13bfunhA); */
  /* background-size: 100% 850px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em 2em 12em;
  text-align: center;
  width: 100%;
  height: auto;
  /* height: 80vh; */
}

.banner h2 {
  font-weight: 700;
  font-size: 46px;
  margin: 0;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 218px;
}

.banner h2 span {
  border-bottom: 5px solid #ff9100;
}

.banner h3{
  font-weight: 400;
  color: #fff;
  font-size: 36px;
  margin: 0;
  margin-top: 23px;
  margin-left: 10px;
  margin-right: 10px;
}

.banner-btn {
  color: #fff;
  background-color: #ff9100;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 50px;
}


/* items  part */
.items-group{
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,.1490196078);
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 12px;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 850px;
    margin: auto;
}

.item-1{
        min-width: 180px;
    max-width: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    flex-basis: 25%;
    box-sizing: border-box;
    max-height: 200px;
    
}

.item-1 img{
    height: 50px;
    max-width: 100%;

}

.item-1 h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    color: black;
}

.item-1 span{
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}

@media only screen and (max-width: 830px) {
 .banner{
     height: auto;
     text-align: left;
 }
 .banner h2{
     font-size: 36px;
     margin-top: 112px;
 }
 .banner h3{
     font-size: 24px;  
 }
}

@media only screen and (max-width: 600px) {
  .banner {
    height: auto;
    width: 100%;
    background-image: url(../../../images/banner/mobile.banner.jpg);
      background-position: center;
  }
}
