.contactUs-container{
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactUs-container h3{
     font-size: 20px;
    letter-spacing: .1px;
    line-height: 22px;
    margin: 15px 0px;
    font-weight: bold;
}
.contactUs-container h1{
    font-size: 46px;
    font-weight: 700;
    line-height: 50px;
    margin: 0 0 0.75em;
}
.contactUs-container p{
    color: #000;
    font-family: Sarabun,sans-serif;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 26px;
    margin-bottom: 25px;
        /* margin-block-start: 16px;
    margin-block-end: 16px; */
}

.contactUs-container p strong{
    color: #ff9100;
}


@media only screen and (max-width: 900px) {
    .contactUs-container p{
        padding: 0px 25px;
    }
   
}