.TrustedCommunity-container{
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.TrustedCommunity-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TrustedCommunity-img{
  margin: auto;
}
.TrustedCommunity-content h3{
        color: #000;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
    order: 0;
    text-align: center;
}
.TrustedCommunity-content p{
  color: #000;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 5px;
    order: 0;
    text-align: left;
    max-width: 800px;
}
.TrustedCommunity-content-2{
          border-radius: 10px;
    border: 2px solid #66af37;
    background-color: rgba(102,175,55,.1019607843);
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    order: 0;
    margin-top: 30px;
}
.TrustedCommunity-content-2 img{
    margin-top: 5px;
    margin-right: 10px;
}
.TrustedCommunity-content-2 p{
      color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}
.trustrd-btn-container{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.trustedCom-btn{
  color: #fff;
  background-color: #ff9100;
  font-size: 17px;
  font-weight: 700;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trustedCom-btn-2{
  color: #fff;
  background-color: #fdfdfc;
  border:1px solid #ff9100 ;
  color: black;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trustedCom-btn-2 img{
    color: #000;
    margin-top: 5px;
    margin-left: 9px;
}

.trustedCom-btn img{
 margin-top: 5px;
 margin-left: 9px;
}



.TrustedCommunity-slider{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.trusted-item-1{
    max-width: 358px;
    min-width: 358px;
    width: 100%;
    height: 525px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.trusted-item-1 img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;

    margin: 0;
    max-width: 100%;
}
.trusted-item-1-content{
      background-color: #fff;
    margin: 16px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
}
.trusted-item-1-content p{
     color: #000;
    text-align: center;
    font-size: 14px;
    
    line-height: 24px;
    max-height: 72px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    min-height: 72px;
}
.home-stars{
  display: flex;
 justify-content: center;
}
.trusted-item-1-content h6{
         margin-top: 8px;
    color: #000;
    text-align: center;
    font-size: 14px;
   
    line-height: 24px;
}
.trusted-item-1-content h5{
             margin-top: 6px;
    color:  gray;
    text-align: center;
    font-size: 14px;
 
    line-height: 24px;
}


@media only screen and (max-width: 800px) {
.TrustedCommunity-container{
  padding: 20px;
}
}

@media only screen and (max-width: 480px) {
  .trustrd-btn-container {
   display: block;
  
  }
}
